{% extends 'base.html' %}

{% block content %}
  <h1 style="text-align:center;">DETAIL</h1>
  <hr>
  <div class="card" style="width: 18rem; margin: auto;">
    <img src="{{ movie.poster_url }}" class="card-img-top">
    <div class="card-body">
      <p> {{ movie.title }} </p>
      <p> Audience: {{ movie.audience }} </p>
      <p> Release_Date: {{ movie.release_date }} </p>
      <p> Genre: {{ movie.genre }} </p>
      <p>Score: {{ movie.score }}</p>
      <p> Description: {{ movie.description }} </p>
      <br>
      <div class="input-group">
        <button style="margin:0px 10px 0px 0px; " type="button" class="btn btn-dark" onclick="location.href='{% url 'movies:update' movie.pk %}'"> Update </button>
        <form action="{% url 'movies:delete' movie.pk %}" method='POST'> 
          {% csrf_token %}
          <input type="submit" class="btn btn-dark" value="Delete">
        </form>
      </div>
    </div>
  </div>
  <hr>
  <button type="button" class="btn btn-dark" onclick="location.href='{% url 'movies:index' %}'"> Back </button>



{% endblock content %}




